
# Configuration and secrets
.env
.streamlit/secrets.toml

# Python caching and environment
__pycache__/
*.pyc
venv/
.venv/

# Node package-manager cache
.pnpm-store/

# OS-specific files
.DS_Store

# Exclude markdown files
*.md
